.divToken {
   visibility: hidden;
}

.divErrors {
   color: red;
   background-color: yellow;
   border: 5px solid red;
   border-radius: 10px;
   font-weight: bold;
   font-size: 15px;
}

.imgAction {
   width: 25px;
}

.divMessageLogin {
   color: white;
   background-color: red;
   border: 5px solid white;
   border-radius: 10px;
   font-weight: bold;
   font-size: 15px;
}

.sample-show-hide {
   transition: all linear 0.5s;
}

.sample-show-hide.ng-hide {
   opacity: 0;
}

.padLink {
   padding-left: 7px;
}

.marginButton {
   margin-right: 20px;
}

.marginTitle {
   margin-left: 15px;
}

body{
	 background-image : url("../img/back.png");
	 color: #b3daff;
}

.modal-content {
  background-color:#272822;
}

.modal-body {
  background-color:#272822;
  color:white;
}

.textHome{
	font-size:20px;
}

.logoB{
	width:50px;
}

.logoJ{
	width:300px;
}

.logoP{
	width:100px;
}

.logoS{
	width:100px;
	border-radius: 10px;
}

.datepicker {
background-color: #b3daff ;
color: #333 ;
}

.jumbotron{
  color:white !important;
  font-size: 25px !important;
  background-color: #5c2040 !important;
}